In [1]:
import mysql.connector
from getpass import getpass
import pymysql
import pandas as pd
import mysql.connector
from getpass import getpass
from sqlalchemy import create_engine

In [2]:
password = getpass()
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=password,
                               db="sakila"))

········

In [3]:
def rentals_month(engine, month, year):
    query = f"""
        SELECT *
        FROM rental
        WHERE MONTH(rental_date) = {month}
        AND YEAR(rental_date) = {year}
    """

    with engine.connect() as connection:
        rental_data = pd.read_sql(query, connection)

    return rental_data

In [5]:
rental_data = rentals_month(engine, 5, 2005)
print(rental_data)

      rental_id         rental_date  inventory_id  customer_id  \
0             1 2005-05-24 22:53:30           367          130
1             2 2005-05-24 22:54:33          1525          459
2             3 2005-05-24 23:03:39          1711          408
3             4 2005-05-24 23:04:41          2452          333
4             5 2005-05-24 23:05:21          2079          222
...         ...                 ...           ...          ...
1151       1153 2005-05-31 21:36:44          2725          506
1152       1154 2005-05-31 21:42:09          2732           59
1153       1155 2005-05-31 22:17:11          2048          251
1154       1156 2005-05-31 22:37:34           460          106
1155       1157 2005-05-31 22:47:45          1449           61

             return_date  staff_id         last_update
0    2005-05-26 22:04:30         1 2006-02-15 21:30:53
1    2005-05-28 19:40:33         1 2006-02-15 21:30:53
2    2005-06-01 22:12:39         1 2006-02-15 21:30:53
3    2005-06-03 01:43:41         2 2006-02-15 21:30:53
4    2005-06-02 04:33:21         1 2006-02-15 21:30:53
...                  ...       ...                 ...
1151 2005-06-10 01:26:44         2 2006-02-15 21:30:53
1152 2005-06-08 16:40:09         1 2006-02-15 21:30:53
1153 2005-06-04 20:27:11         2 2006-02-15 21:30:53
1154 2005-06-01 23:02:34         2 2006-02-15 21:30:53
1155 2005-06-02 18:01:45         1 2006-02-15 21:30:53

[1156 rows x 7 columns]

In [6]:
def rental_count_month(rental_data, month, year):
    filtered_data = rental_data[(rental_data['rental_date'].dt.month == month) & (rental_data['rental_date'].dt.year == year)]
    
    rental_count = filtered_data.groupby('customer_id').size().reset_index(name='rental_count')
    
    return rental_count

rental_count_data = rental_count_month(rental_data, 5, 2005)
print(rental_count_data)

     customer_id  rental_count
0              1             2
1              2             1
2              3             2
3              5             3
4              6             3
..           ...           ...
515          594             4
516          595             1
517          596             6
518          597             2
519          599             1

[520 rows x 2 columns]

In [9]:
rental_count_data1 = rental_count_month(rental_data, 5, 2005)
rental_count_data2 = rental_count_month(rental_data, 6, 2005)

In [10]:
def compare_rentals(rental_count1, rental_count2):
    combined_data = pd.merge(rental_count1, rental_count2, on='customer_id', suffixes=('_month1', '_month2'), how='outer')
    
    combined_data['difference'] = combined_data['rental_count_month2'].fillna(0) - combined_data['rental_count_month1'].fillna(0)
    
    return combined_data

comparison_result = compare_rentals(rental_count_data1, rental_count_data2)
print(comparison_result)

     customer_id  rental_count_month1  rental_count_month2  difference
0              1                    2                  NaN        -2.0
1              2                    1                  NaN        -1.0
2              3                    2                  NaN        -2.0
3              5                    3                  NaN        -3.0
4              6                    3                  NaN        -3.0
..           ...                  ...                  ...         ...
515          594                    4                  NaN        -4.0
516          595                    1                  NaN        -1.0
517          596                    6                  NaN        -6.0
518          597                    2                  NaN        -2.0
519          599                    1                  NaN        -1.0

[520 rows x 4 columns]